<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>

    <!-- 登录页模板 -->
    <template id="login">
        <div>
            <p>登录页</p>
            <form class="loginForm">
                <el-input name="userName" placeholder="请输入用户名" clearable></el-input>
                <el-input name="password" placeholder="请输入密码" clearable></el-input>
                <el-button type="primary" @click="login('/user/login')">登录</el-button>
            </form>
        </div>
    </template>

    <!-- 主页模板 -->
    <template id="home">
        <div>
            <p>首页</p>
            <p>登陆成功</p>
            <el-menu :default-active="activeIndex" class="el-menu-demo" @select="handleSelect" mode="horizontal" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                <el-menu-item index="1">
                    <router-link to="/home/userManage">用户管理</router-link>
                </el-menu-item>
                <el-menu-item index="2">
                    <router-link to="/home/facilityManage">设备管理</router-link>
                </el-menu-item>
                <el-menu-item index="3">
                    <router-link to="/home/groupManage">设备组管理</router-link>
                </el-menu-item>
                <el-menu-item index="4">
                    <router-link to="/home/auth">用户授权</router-link>
                </el-menu-item>
            </el-menu>
            <router-view></router-view>
        </div>
    </template>

    <!-- 用户管理模板 -->
    <template id="userManage">
        <div>
            <p>这里是用户管理的router-view</p>
            <el-button type="primary" size="small" plain @click="getUserList(1,20)">获取用户列表</el-button>
            <el-button type="primary" size="small" plain @click="dialogFormVisible = true;isUserAdd = true">添加用户</el-button>

            <el-table :data="userList" stripe style="width: 100%">
                <el-table-column prop="name" label="用户名称" width="180"></el-table-column>
                <el-table-column prop="password" label="密码" width="180"></el-table-column>
                <el-table-column prop="sex" label="性别" width="180"></el-table-column> 
                <el-table-column prop="phone" label="电话号码" width="180"></el-table-column>
                <el-table-column prop="option" label="操作" width="180">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="dialogFormVisible = true;userUpdate(scope.row.id,scope.row);isUserAdd = false">修改</el-button>
                        <el-button size="mini"  type="danger" @click="userDelete(scope.row.id)">删除</el-button>
                    </template>
                </el-table-column>
                <el-table-column prop="groupId" label="设备组">
                    <template slot-scope="scope">
                        <el-button size="mini" type="primary" @click="getUserGroup(scope.row.id,scope.row.userGroupList);getAllGrpList(scope.row.id)">查看</el-button>
                        <!-- <el-tag type="success" v-for="userGroup in scope.row.userGroupList">{{userGroup.name}}</el-tag> -->
                        <!-- <el-checkbox v-for="grp in groupList" :label="grp.id" border @click="showThisGrpId(grp.id)">{{grp.name}}</el-checkbox> -->
                        <el-checkbox-group v-model="scope.row.checkGroupList">
                            <el-checkbox name="groupCheckbox" v-for="grp in scope.row.userGroupList" :label="grp.id" @change="showThisGrpId(scope.row.id,grp.id)" border>{{grp.name}}</el-checkbox>
                        </el-checkbox-group>
                        
                    </template>
                </el-table-column>
            </el-table>

            <el-dialog title="用户添加" :visible.sync="dialogFormVisible">
              <el-form>
                <el-form-item label="用户名称" :label-width="formLabelWidth">
                    <el-input v-model="userInfo.userName" placeholder="请输入用户名" clearable></el-input>
                </el-form-item>
                <el-form-item label="用户密码" :label-width="formLabelWidth">
                    <el-input v-model="userInfo.password" placeholder="请输入密码" clearable></el-input>
                </el-form-item>
                <el-form-item label="电话号码" :label-width="formLabelWidth">
                    <el-input v-model="userInfo.phone" placeholder="请输入电话号码" clearable></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-radio v-model="userInfo.sex" label="男">男</el-radio>
                    <el-radio v-model="userInfo.sex" label="女">女</el-radio>
                </el-form-item>
              </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button v-show="isUserAdd == true" type="primary" @click="dialogFormVisible = false;userAdd()">确 定</el-button>
                <el-button v-show="isUserAdd == false" type="primary" @click="dialogFormVisible = false;comfirmUpdate()">确 定</el-button>
              </div>
            </el-dialog>
        </div>
    </template>

    <!-- 设备管理模板 -->
    <template id="facilityManage">
        <div style="width: 500px">
            <p>这里是设备管理的router-view</p>
            <el-button type="primary" size="small" plain @click="getFacilityList(1,20)">获取设备列表</el-button>
            <ul>
                <li v-for="(facilities,facilitiesIndex) in facilityList">
                    {{facilities.name}}--{{facilities.ipAddr}}
                    <el-button type="primary" size="mini" @click="facilityUpdate(facilities.id,facilities)">修改</el-button>
                    <el-button type="danger" size="mini" @click="facilityDelete(facilities.id)">删除</el-button>
                </li>
            </ul>
            <el-input v-model="facilityInfo.name" placeholder="请输入设备名称" clearable></el-input><br/>
            <el-input v-model="facilityInfo.ipAddr" placeholder="请输入设备IP" clearable></el-input><br/>
            <el-input v-model="facilityInfo.port" placeholder="请输入设备端口" clearable></el-input><br/>
            <el-input v-model="facilityInfo.serial" placeholder="请输入设备serial" clearable></el-input><br/>
            <el-button type="primary" @click="facilityAdd()">添加设备</el-button>
            <el-button type="primary" @click="facilityComfirmUpdate()" id="facilityComfirmUpdate" style="display: none">确认修改</el-button>
        </div>
    </template>
    
    <!-- 设备组管理模板 -->
    <template id="groupManage">
        <div style="width: 500px">
            <p>这里是用户管理的router-view</p>
            <el-button type="primary" size="small" plain @click="getGroupList(1,20)">获取设备组列表</el-button>
            <el-button type="primary" size="small" plain @click="dialogFormVisible = true;isGroupAdd = true">添加设备组</el-button>

            <el-table :data="groupList" stripe style="width: 100%">
                <el-table-column prop="name" label="设备组名称" width="180"></el-table-column>
                <el-table-column prop="option" label="操作" width="180">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="dialogFormVisible = true;groupUpdate(scope.row.id,scope.row);isGroupAdd = false">修改</el-button>
                        <el-button type="danger" size="mini" @click="groupDelete(scope.row.id)">删除</el-button>
                    </template>
                </el-table-column>
                <el-table-column prop="facilityId" label="关联设备">
                    <template slot-scope="scope">
                        <el-button size="mini" type="primary" @click="getGroupFacilities(scope.row.id,scope.row.groupFacilityList);getAllFacilityList(scope.row.id)">查看</el-button>
                        <!-- <el-tag type="success" v-for="userGroup in scope.row.userGroupList">{{userGroup.name}}</el-tag> -->
                        <!-- <el-checkbox v-for="grp in groupList" :label="grp.id" border @click="showThisGrpId(grp.id)">{{grp.name}}</el-checkbox> -->
                        <el-checkbox-group v-model="scope.row.checkFacilityList">
                            <el-checkbox name="facilityCheckbox" v-for="facility in scope.row.groupFacilityList" :label="facility.id" @change="showThisfacilityId(scope.row.id,facility.id)" border>{{facility.name}}</el-checkbox>
                        </el-checkbox-group>
                        
                    </template>
                </el-table-column>
            </el-table>

            <el-dialog title="设备组添加" :visible.sync="dialogFormVisible">
                <el-form>
                <el-form-item label="设备组名称" :label-width="formLabelWidth">
                    <el-input v-model="groupInfo.name" placeholder="请输入设备组名称" clearable></el-input>
                </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button v-show="isGroupAdd == true" type="primary" @click="dialogFormVisible = false;groupAdd()">确 定</el-button>
                <el-button v-show="isGroupAdd == false" type="primary" @click="dialogFormVisible = false;groupComfirmUpdate()">确 定</el-button>
                </div>
            </el-dialog>
        </div>
    </template>

    <!-- 用户授权模板 -->
    <template id="auth">
        <div style="width: 500px">
            <p>这里是用户授权的router-view</p>
            <el-button type="primary" size="small" plain @click="getMenuTree();getUserTree(1)">获取菜单树</el-button>
            
            <el-tree :data="TreeData" show-checkbox node-key="id" default-expand-all :default-checked-keys="checkData" :props="defaultProps" @check-change="checkChange"></el-tree>
        </div>
    </template>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/vue-router.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>