<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>

    <!-- 登录页模板 -->
    <template id="login">
        <div>
            <p>登录页</p>
            <form class="loginForm">
                <el-input name="userName" placeholder="请输入用户名" clearable></el-input>
                <el-input name="password" placeholder="请输入密码" clearable></el-input>
                <el-button type="primary" @click="login('/user/login')">登录</el-button>
            </form>
        </div>
    </template>

    <!-- 主页模板 -->
    <template id="home">
        <div>
            <el-container>
                <el-header class="outerContainer">
                    <el-menu :default-active="activeIndex" class="el-menu-demo" @select="handleSelect" mode="horizontal" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                        <el-menu-item index="1" @click="showAside = true;getGroupList(1,10000);">
                            <router-link to="/home/monitor">实时监控</router-link>
                        </el-menu-item>
                        <el-menu-item index="2" v-show="isUserManageShow == true" @click="showAside = false">
                            <router-link to="/home/userManage">用户管理</router-link>
                        </el-menu-item>
                        <el-menu-item index="3" v-show="userId == 1" @click="showAside = false">
                            <router-link to="/home/auth">用户授权</router-link>
                        </el-menu-item>
                        <el-menu-item index="4" v-show="isFacilityManageShow == true" @click="showAside = false">
                            <router-link to="/home/facilityManage">设备管理</router-link>
                        </el-menu-item>
                        <el-menu-item index="5" v-show="isGroupManageShow == true" @click="showAside = false">
                            <router-link to="/home/groupManage">设备组管理</router-link>
                        </el-menu-item>
                    </el-menu>
                    <!-- 用户头像 -->
                    <div class="user-avator"><img src="img/img.jpg"></div>
                    <!-- 用户名下拉菜单 -->
                    <el-dropdown class="user-name" trigger="click" @command="handleCommand">
                        <span class="el-dropdown-link">
                            {{userName}} <i class="el-icon-caret-bottom"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <a href="#" target="_blank">
                                <el-dropdown-item>我的消息</el-dropdown-item>
                            </a>
                            <a href="#" target="_blank">
                                <el-dropdown-item>修改密码</el-dropdown-item>
                            </a>
                            <el-dropdown-item divided  command="loginout">退出登录</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-header>
                <el-container class="innerContainer">
                    <el-aside v-show="showAside == true" width="200px">
                        <el-menu @open="getThisFacilities" class="el-menu-vertical-demo" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                            <el-submenu :key="groupInfo.id" :index="''+groupInfo.id" v-for="(groupInfo,groupInfoIndex) in groupList" 
                            >
                                <template slot="title">
                                    <i class="el-icon-menu"></i>
                                    <span>{{groupInfo.name}}</span>
                                </template>
                                <el-menu-item :key="facilityInfo.id" :index="groupInfoIndex+''+facilityInfo.id" v-for="facilityInfo in groupInfo.groupFacilityList">{{facilityInfo.name}}</el-menu-item>
                            </el-submenu>
                      </el-menu>
                    </el-aside>
                    <el-main>
                        <router-view></router-view>
                    </el-main>
                </el-container>
            </el-container>       
        </div>
    </template>

    <!-- 主页模板 -->
    <template id="monitor">
        <div>
            <p style="color: black">{{message}}</p>
        </div>
    </template>

    <!-- 用户管理模板 -->
    <template id="userManage">
        <div>
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item><i class="el-icon-tickets"></i>用户列表</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="container">
                <div class="handle-box">
                    <el-button type="primary" size="small" plain icon="delete" @click="dialogFormVisible = true;isUserAdd = true" v-show="isUserManageAddShow == true">添加用户</el-button>
                </div>
                <el-table :data="userList" stripe border style="width: 100%">
                    <el-table-column prop="name" label="用户名称" width="150"></el-table-column>
                    <el-table-column prop="password" label="密码" width="150"></el-table-column>
                    <el-table-column prop="sex" label="性别" width="100"></el-table-column> 
                    <el-table-column prop="phone" label="电话号码"></el-table-column>
                    <el-table-column prop="groupId" label="设备组" width="100">
                        <template slot-scope="scope">
                            <el-button size="mini" type="primary" @click="getUserGroup(scope.row.id);dialogGrpFormVisible = true">查看</el-button>   
                        </template>
                    </el-table-column>
                    <el-table-column prop="option" label="操作" width="180">
                        <template slot-scope="scope">
                            <el-button size="mini" @click="dialogFormVisible = true;userUpdate(scope.row.id,scope.row);isUserAdd = false"  v-show="isUserManageUpdateShow == true">修改</el-button>
                            <el-button size="mini"  type="danger" @click="userDelete(scope.row.id)"  v-show="isUserManageDelShow == true">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" 
                    layout="total, sizes, prev, pager, next" :total="total" :page-size="currentSize"
                    :current-page="currentPage" :page-sizes="[10, 20, 50, 100]"></el-pagination>
                </div>
            </div>
            <!-- 用户添加修改对话框 -->
            <el-dialog title="用户添加" :visible.sync="dialogFormVisible">
              <el-form :model="userInfo" status-icon :rules="rules" ref="userInfo">
                <el-form-item label="用户名称" :label-width="formLabelWidth" prop="userName">
                    <el-input v-model="userInfo.userName" placeholder="请输入用户名" clearable></el-input>
                </el-form-item>
                <el-form-item label="用户密码" :label-width="formLabelWidth" prop="password">
                    <el-input v-model="userInfo.password" placeholder="请输入密码" clearable></el-input>
                </el-form-item>
                <el-form-item label="电话号码" :label-width="formLabelWidth" prop="phone">
                    <el-input v-model="userInfo.phone" placeholder="请输入电话号码" clearable></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-radio v-model="userInfo.sex" label="男">男</el-radio>
                    <el-radio v-model="userInfo.sex" label="女">女</el-radio>
                </el-form-item>
              </el-form>
              <span slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button v-show="isUserAdd == true" type="primary" @click="userAdd('userInfo')">确 定</el-button>
                <el-button v-show="isUserAdd == false" type="primary" @click="comfirmUpdate('userInfo')">确 定</el-button>
              </span>
            </el-dialog>
            <!-- 设备组查看对话框 -->
            <el-dialog title="配置设备组" :visible.sync="dialogGrpFormVisible">
                <el-checkbox-group v-model="checkGroupList">
                    <el-checkbox :key="index" name="groupCheckbox" v-for="(grp,index) in GroupList" :label="grp.id" @change="showThisGrpId(grp.id)" border>{{grp.name}}</el-checkbox>
                </el-checkbox-group>  
                <span slot="footer" class="dialog-footer">
                  <el-button @click="dialogGrpFormVisible = false">取 消</el-button>
                </span>
            </el-dialog>
        </div>
    </template>

    <!-- 设备管理模板 -->
    <template id="facilityManage">
        <div>
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item><i class="el-icon-tickets"></i>设备列表</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="container">
                <div class="handle-box">
                    <el-button type="primary" size="small" plain icon="delete" @click="dialogFormVisible = true;isFacilityAdd = true" v-show="isFacilityManageAddShow == true">添加设备</el-button>
                </div>
                <el-table :data="facilityList" stripe border style="width: 100%">
                    <el-table-column prop="name" label="设备名称" width="150"></el-table-column>
                    <el-table-column prop="ipAddr" label="IP地址" width="150"></el-table-column>
                    <el-table-column prop="port" label="端口" width="100"></el-table-column> 
                    <el-table-column prop="serial" label="Serial"></el-table-column>
                    <el-table-column prop="option" label="操作" width="180">
                        <template slot-scope="scope">
                            <el-button size="mini" @click="dialogFormVisible = true;facilityUpdate(scope.row.id,scope.row);isFacilityAdd = false"  v-show="isFacilityManageUpdateShow == true">修改</el-button>
                            <el-button type="danger" size="mini" @click="facilityDelete(scope.row.id)"  v-show="isFacilityManageDelShow == true">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" 
                    layout="total, sizes, prev, pager, next" :total="total" :page-size="currentSize"
                    :current-page="currentPage" :page-sizes="[10, 20, 50, 100]"></el-pagination>
                </div>
            </div>
            <!-- 设备添加修改对话框 -->
            <el-dialog title="设备添加" :visible.sync="dialogFormVisible">
                <el-form :model="facilityInfo" status-icon :rules="rules" ref="facilityInfo">
                    <el-form-item label="设备名称" :label-width="formLabelWidth" prop="name">
                        <el-input v-model="facilityInfo.name" placeholder="请输入设备名称" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="IP地址" :label-width="formLabelWidth" prop="ipAddr">
                        <el-input v-model="facilityInfo.ipAddr" placeholder="请输入设备IP" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="设备端口" :label-width="formLabelWidth" prop="port">
                        <el-input v-model="facilityInfo.port" placeholder="请输入设备端口" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="设备Serial" :label-width="formLabelWidth" prop="serial">
                        <el-input v-model="facilityInfo.serial" placeholder="请输入设备serial" clearable></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button v-show="isFacilityAdd == true" type="primary" @click="facilityAdd('facilityInfo')">确 定</el-button>
                <el-button v-show="isFacilityAdd == false" type="primary" @click="facilityComfirmUpdate('facilityInfo')">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </template>
    
    <!-- 设备组管理模板 -->
    <template id="groupManage">
        <div>
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item><i class="el-icon-tickets"></i>设备组列表</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="container">
                <div class="handle-box">
                    <el-button type="primary" size="small" icon="delete" plain @click="dialogFormVisible = true;isGroupAdd = true" v-show="isGroupManageAddShow == true">添加设备组</el-button>
                </div>
                <el-table :data="groupList" stripe border style="width: 100%">
                    <el-table-column prop="name" label="设备组名称"></el-table-column>
                    <el-table-column prop="facilityId" label="关联设备" width="100">
                        <template slot-scope="scope">
                            <el-button size="mini" type="primary" @click="getGroupFacilities(scope.row.id);dialogFacilityFormVisible = true">查看</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column prop="option" label="操作" width="180">
                        <template slot-scope="scope">
                            <el-button type="primary" size="mini" @click="dialogFormVisible = true;groupUpdate(scope.row.id,scope.row);isGroupAdd = false" v-show="isGroupManageUpdateShow == true">修改</el-button>
                            <el-button type="danger" size="mini" @click="groupDelete(scope.row.id)" v-show="isGroupManageDelShow == true">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" 
                    layout="total, sizes, prev, pager, next" :total="total" :page-size="currentSize"
                    :current-page="currentPage" :page-sizes="[10, 20, 50, 100]"></el-pagination>
                </div>
            </div>
            <!-- 设备组添加修改对话框 -->
            <el-dialog title="设备组添加" :visible.sync="dialogFormVisible">
                <el-form :model="groupInfo" status-icon :rules="rules" ref="groupInfo">
                    <el-form-item label="设备组名称" :label-width="formLabelWidth" prop="name">
                        <el-input v-model="groupInfo.name" placeholder="请输入设备组名称" clearable></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button v-show="isGroupAdd == true" type="primary" @click="groupAdd('groupInfo')">确 定</el-button>
                    <el-button v-show="isGroupAdd == false" type="primary" @click="groupComfirmUpdate('groupInfo')">确 定</el-button>
                </span>
            </el-dialog>
            <!-- 设备查看对话框 -->
            <el-dialog title="配置设备组" :visible.sync="dialogFacilityFormVisible">
                <el-checkbox-group v-model="checkFacilityList">
                    <el-checkbox :key="index" name="facilityCheckbox" v-for="(facility,index) in FacilityList" :label="facility.id" @change="showThisfacilityId(facility.id)" border>{{facility.name}}</el-checkbox>
                </el-checkbox-group> 
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogFacilityFormVisible = false">取 消</el-button>
                </span>
            </el-dialog>
        </div>
    </template>

    <!-- 用户授权模板 -->
    <template id="auth">
        <div>
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item><i class="el-icon-tickets"></i>设备列表</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="container">
                <el-table :data="authUserList" stripe border style="width: 100%">
                    <el-table-column prop="name" label="用户名称"></el-table-column>
                    <el-table-column prop="option" label="操作" width="100">
                        <template slot-scope="scope">
                            <el-button size="mini" @click="getUserTree(scope.row.id);dialogFormVisible = true">授权</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                
                <div class="pagination">
                    <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" 
                    layout="total, sizes, prev, pager, next" :total="total" :page-size="currentSize"
                    :current-page="currentPage" :page-sizes="[10, 20, 50, 100]"></el-pagination>
                </div>
            </div>
            <!-- 用户授权对话框 -->
            <el-dialog title="用户授权" :visible.sync="dialogFormVisible">
                <el-tree :data="TreeData" show-checkbox ref="tree" node-key="id" :check-strictly='true' default-expand-all :props="defaultProps" @check="checkChange"></el-tree>
            </el-dialog>
        </div>
    </template>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/vue-router.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>